<div class="sidebar">
   <div class="relative">

           <figure>
        	    <a [routerLink]=" ['/'] ">
        	      <img src="assets/img/El-Diablo.png" alt="El Diablo">
        	    </a>
           </figure>

           <h2 id="myname">
             <a [routerLink]=" ['/'] "></a>
           </h2>
           <!--
           <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           </p>
            -->

           <div class="navigation">
              <a [routerLink]=" ['/'] " routerLinkActive="active">PORTAFOLIO</a>
              <a [routerLink]=" ['/el-diablo'] " routerLinkActive="active">EL DIABLO</a>
        	    <a [routerLink]=" ['/contacto'] " routerLinkActive="active">CONTACTO</a>
           </div>

           <ul>
             <!--
             <li>
        	     <a href="https://www.behance.net/LuisRoman" target="_blank" class="fab fa-behance-square"></a>
             </li>
             <li>
        	     <a href="https://www.instagram.com/luisguiroman/" target="_blank" class="fab fa-instagram"></a>
             </li>
             <li>
               <a href="https://www.linkedin.com/in/luis-guillermo-rom%C3%A1n-052ba9149/" target="_blank" class="fab fa-linkedin"></a>
             </li>
              -->
              <li>
               <a href="https://facebook.com/somoseldiablo/" target="_blank" class="fab fa-facebook"></a>
             </li>
           </ul>
        
   </div>
</div>